* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 10px solid #5ABB63;
    border-top-color: #fff;
    border-bottom-color: #fff;
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}